@font-face {
      font-family: 'fontello';
      src: url('/assets/fonts/fontello.eot');
      src: url('/assets/fonts/fontello.eot#iefix') format('embedded-opentype'),
           url('/assets/fonts/fontello.woff') format('woff'),
           url('/assets/fonts/fontello.ttf') format('truetype'),
           url('/assets/fonts/fontello.svg#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }